root = true

[*.{cs,ttsql,sql,ts,tsx,js,css,scss,json,xml}]
end_of_line = crlf
charset = utf-8-bom
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.cs]

# Use collection initializers or expressions
dotnet_diagnostic.IDE0028.severity = none

# Use range operator
dotnet_diagnostic.IDE0057.severity = none

# Use switch expression
dotnet_diagnostic.IDE0066.severity = none

# Simplify new expression
dotnet_diagnostic.IDE0090.severity = none

# Use primary constructor (IDE0290)
dotnet_diagnostic.IDE0290.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = none

